.header {
    background-color: var(--gray-700);
    height: 12.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    
    margin-top: -1.6rem;
}

.form input {
    width: 39rem; /* 638px */
    height: 3.25rem;
    padding: 0 1rem;

    background-color: var(--gray-500);
    color: var(--gray-100);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
}

.form button {
    width: 6.25rem;
    height: 3.25rem;
    padding: 0 1rem;
    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;

    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;

    transition: 0.5s;
}

.form button:hover {
    background-color: var(--blue);
}